:root {
  --white-color: #ffffff;
  --light-white-color: #f7f7f7;
  --medium-white-color: #f2f4f7;
  --dark-white-color: #dadde1;
  --yellow-color: #ffc531;
  --pimary-red-color: #d84343;
  --active-red-color: #e44848;
  --light-grey-color: #6c717b;
  --dark-grey-color: #475467;
  --dark-color: #101828;
  --black-color: #00000033;

  --transition-time: 0.5s;
  --transition-func: ease-in;
}
