.filter {
  width: 360px;
}

.form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100%;
  color: var(--light-grey-color);
  font-size: 16px;
}

.location-title {
  color: currentColor;
}

.location-input-wrap {
  position: relative;
}

.location-input {
  min-width: 100%;
  padding: 16px 48px;
  border-radius: 12px;
  border: transparent;
  background: var(--light-white-color);
  outline: none;
  color: inherit;
}

.location-input:is(:hover, :focus),
.location-input:is(:hover, :focus) + svg,
.active {
  color: var(--dark-color);
}

.location-input::placeholder {
  color: var(--light-grey-color);
  opacity: 1;
  transition: opacity var(--transition-time) ease-out;
}

.location-input:focus::placeholder {
  opacity: 0;
}

.filter-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-block-title {
  color: var(--dark-grey-color);
  font-weight: 500;
  margin-bottom: 32px;
}

.filter-block-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
